(The spirit when programming: "*Why spend 5 days doing some work when you can spend 5 weeks automating it!*")

# Creating your own kernel / environment

Create a Python environment (where packages are installed):
- Open a terminal
- `python3 -m venv bioinfo`
- `source bioinfo/bin/activate`

Link it to a Jupyter kernel (so that your code execute with it):
- `pip install ipykernel`
- `python3 -m ipykernel install --user --name bioinfo --display-name "Python (bioinfo)"`

Then you can install new packages:
- `pip install pandas`

In your notebook, you'll need to `Kernel` -> `Change kernel` to this new kernel. It is probably safe to then `Kernel` -> `Restart & clear output`. Make sure this new kernel is the one active (upper right corner of your screen, just below the button `Control Panel`).

# Working with real data

In [11]:
import pandas

## Read from / write to TSV and CSV files (in and out of Excel / R)

(Doc: https://pandas.pydata.org/docs/reference/api/pandas.read_table.html#pandas.read_table)

In [14]:
df = pandas.read_table("kmers.tsv")

(Doc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)

In [15]:
df.to_csv("test.csv")

## Dataframe manipulation

(.head(), .tail(), .shape, .Col, sum(), len(), .describe(), ["Col"], .drop())

In [16]:
#shows first 5 rows:
df.head()

                               Seq  Id   Count
0  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA   1  113422
1  CAGGACTCCAATATAGAGATAAGTTAATGTC   2      93
2  TATGTAATTGGTTCCAGTGTGAGTCATTAAA   3       5
3  GATATTTTCGAAAAGTGGGATTTTTTAAACC   4      88
4  CTCCATCTCAGGTATTAGAATGAATGCTTAC   5       7

In [17]:
#shows last 5 rows:
df.tail()

                                  Seq    Id  Count
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996      5
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997      5
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998     10
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999      7
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000     11

In [18]:
#gives you the size of the table
df.shape

(4000, 3)

In [25]:
#shows the names of the columns
df.columns

Index(['Seq', 'Id', 'Count'], dtype='object')

In [26]:
#extract a column
df.Seq

0       AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1       CAGGACTCCAATATAGAGATAAGTTAATGTC
2       TATGTAATTGGTTCCAGTGTGAGTCATTAAA
3       GATATTTTCGAAAAGTGGGATTTTTTAAACC
4       CTCCATCTCAGGTATTAGAATGAATGCTTAC
                     ...
3995    AGCTGCAGGAACTCCCTCGTCACAGCTTAAA
3996    CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA
3997    GTCTGCCTTTATGGCCTTTGTACTCAAAGAA
3998    AGACTATAGTGAGCTCAGGTGATTGATACTC
3999    AAACCCAGTCACTGGACACCTAAGTGTCCAC
Name: Seq, Length: 4000, dtype: object

In [29]:
# returns a list of all the values
df.Count

0       113422
1           93
2            5
3           88
4            7
         ...
3995         5
3996         5
3997        10
3998         7
3999        11
Name: Count, Length: 4000, dtype: int64

In [31]:
#
sum(df.Count)

sum(df.Count)/len(df.Count)

93.162

In [33]:
#shows basic stats of the dataframe
df.describe()

                Id          Count
count  4000.000000    4000.000000
mean   2000.500000      93.162000
std    1154.844867    1804.997654
min       1.000000       5.000000
25%    1000.750000       7.000000
50%    2000.500000      14.000000
75%    3000.250000      42.000000
max    4000.000000  113422.000000

In [34]:
#get a column out
df["Seq"]

0       AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1       CAGGACTCCAATATAGAGATAAGTTAATGTC
2       TATGTAATTGGTTCCAGTGTGAGTCATTAAA
3       GATATTTTCGAAAAGTGGGATTTTTTAAACC
4       CTCCATCTCAGGTATTAGAATGAATGCTTAC
                     ...
3995    AGCTGCAGGAACTCCCTCGTCACAGCTTAAA
3996    CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA
3997    GTCTGCCTTTATGGCCTTTGTACTCAAAGAA
3998    AGACTATAGTGAGCTCAGGTGATTGATACTC
3999    AAACCCAGTCACTGGACACCTAAGTGTCCAC
Name: Seq, Length: 4000, dtype: object

In [36]:
#add a column
df["new"] = 23

df

                                  Seq    Id   Count  new
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422   23
1     CAGGACTCCAATATAGAGATAAGTTAATGTC     2      93   23
2     TATGTAATTGGTTCCAGTGTGAGTCATTAAA     3       5   23
3     GATATTTTCGAAAAGTGGGATTTTTTAAACC     4      88   23
4     CTCCATCTCAGGTATTAGAATGAATGCTTAC     5       7   23
...                               ...   ...     ...  ...
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996       5   23
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997       5   23
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998      10   23
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999       7   23
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000      11   23

[4000 rows x 4 columns]

(Arithmetics on columns)

In [40]:
#you can do math on columns and rows
df["frac"]=df.Count/sum(df.Count)*100
df

                                  Seq    Id   Count  new       frac
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422   23  30.436766
1     CAGGACTCCAATATAGAGATAAGTTAATGTC     2      93   23   0.024957
2     TATGTAATTGGTTCCAGTGTGAGTCATTAAA     3       5   23   0.001342
3     GATATTTTCGAAAAGTGGGATTTTTTAAACC     4      88   23   0.023615
4     CTCCATCTCAGGTATTAGAATGAATGCTTAC     5       7   23   0.001878
...                               ...   ...     ...  ...        ...
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996       5   23   0.001342
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997       5   23   0.001342
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998      10   23   0.002683
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999       7   23   0.001878
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000      11   23   0.002952

[4000 rows x 5 columns]

In [42]:
#how many seq have a count of above 100
a = df.Count >= 100

In [43]:
#how many seq have a count of above 100 -> add to get total number
sum(a)

543

In [44]:
#extract the values of each seq that have a count of above 100
df.Seq[a]

0       AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
6       CTTCCATGGCTGTCCGGATCGCCGCACTGCA
7       GCACCAGGCCTTTCTCTAGAAGTCCTGAGAC
11      ATCAATCGACTCAGATGATCAGTTTTGGTAG
15      GGCCTGGGCTGGAAACAGCTCTGTGTGTGAA
                     ...
3969    AGTTTTCTAAAAAGGGGGAGAGTTGTGAAAG
3973    ATTATCTGGGCGTGGTGGCATGTGCCTGTAG
3975    CCTATGCTTTCCTTGGCATCGGCTACACATC
3987    AAGGGTGTCCTGCTCCTTGACCACGATGGGG
3994    AACCCAAGGAAAGAGAAATGCTGGGGTGTAT
Name: Seq, Length: 543, dtype: object

## Guided exercise(s) here...

### 1) Add a column with nucleotide count (A)
([loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)[*row*,*col*], .[apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)())

In [59]:
#loc is useful to extract all culumns of a df based on a specified criteria
df.loc[a]

                                  Seq    Id   Count  new       frac  CountA
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422   23  30.436766      31
6     CTTCCATGGCTGTCCGGATCGCCGCACTGCA     7     299   23   0.080237       4
7     GCACCAGGCCTTTCTCTAGAAGTCCTGAGAC     8     128   23   0.034349       7
11    ATCAATCGACTCAGATGATCAGTTTTGGTAG    12     252   23   0.067624       9
15    GGCCTGGGCTGGAAACAGCTCTGTGTGTGAA    16     330   23   0.088555       6
...                               ...   ...     ...  ...        ...     ...
3969  AGTTTTCTAAAAAGGGGGAGAGTTGTGAAAG  3970     112   23   0.030055      11
3973  ATTATCTGGGCGTGGTGGCATGTGCCTGTAG  3974     130   23   0.034885       4
3975  CCTATGCTTTCCTTGGCATCGGCTACACATC  3976     352   23   0.094459       5
3987  AAGGGTGTCCTGCTCCTTGACCACGATGGGG  3988     172   23   0.046156       5
3994  AACCCAAGGAAAGAGAAATGCTGGGGTGTAT  3995     117   23   0.031397      12

[543 rows x 6 columns]

In [50]:
def count_nucl(my_seq, nucl):
    total = 0
    for c in my_seq:
        if c == nucl:
            total = total+1
    return total

(First step: We'll try to first apply it to the second row, counting As only)

In [51]:
count_nucl(df.Seq[1], "A")

12

(Doc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)

In [54]:
#get the lenght of each row (axis=1) or column (axis=0)
#basically apply extracts 1 row/column and applies a specified function to it and it does that for all rows/columns
df.apply(len, axis=1)

0       5
1       5
2       5
3       5
4       5
       ..
3995    5
3996    5
3997    5
3998    5
3999    5
Length: 4000, dtype: int64

(Doc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)

In [55]:
def count_A(row):
    return count_nucl(row.Seq, "A")

(Whiz-kid corner: lambda expressions, https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions)

In [56]:
df.apply(count_A, axis=1)

0       31
1       12
2        9
3       10
4        9
        ..
3995     9
3996     6
3997     7
3998     9
3999    10
Length: 4000, dtype: int64

In [58]:
df["CountA"] =df.apply(count_A, axis=1)
df

                                  Seq    Id   Count  new       frac  CountA
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422   23  30.436766      31
1     CAGGACTCCAATATAGAGATAAGTTAATGTC     2      93   23   0.024957      12
2     TATGTAATTGGTTCCAGTGTGAGTCATTAAA     3       5   23   0.001342       9
3     GATATTTTCGAAAAGTGGGATTTTTTAAACC     4      88   23   0.023615      10
4     CTCCATCTCAGGTATTAGAATGAATGCTTAC     5       7   23   0.001878       9
...                               ...   ...     ...  ...        ...     ...
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996       5   23   0.001342       9
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997       5   23   0.001342       6
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998      10   23   0.002683       7
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999       7   23   0.001878       9
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000      11   23   0.002952      10

[4000 rows x 6 columns]

In [61]:
#create a nameless function in order to use it on a df (lambda)
df.apply(lambda row: count_nucl(row.Seq, "A"), axis=1)

0       31
1       12
2        9
3       10
4        9
        ..
3995     9
3996     6
3997     7
3998     9
3999    10
Length: 4000, dtype: int64

In [62]:
#create a function that creates a function ....

def row_count_nucl(nucl):
    def tmp(row):
        return count_nucl(row.Seq, nucl)
    return tmp

In [63]:
f = row_count_nucl("A")

In [64]:
df.apply(f, axis=1)

0       31
1       12
2        9
3       10
4        9
        ..
3995     9
3996     6
3997     7
3998     9
3999    10
Length: 4000, dtype: int64

### 2) Show the 10 sequences with the most number of A. How many reads do they represent? What % of the (truncated) transcriptome?
(.sort_values())

(Doc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)

In [113]:
#print(df.sort_values(by="CountA", ascending=False).head(n=10))

#sequence seulement
print()
print("top 10 sequences with the most number of A")
print(df.sort_values(by="CountA", ascending=False).head(n=10).Seq)

#number of read seulement
print()
print("total number of read of the top 10 sequences with the most number of A")
print(sum(df.sort_values(by="CountA", ascending=False).head(n=10).Count))

# % of truncated transcriptome
print()
print("% of transcriptome")
print(sum(df.sort_values(by="CountA", ascending=False).head(n=10).Count)/sum(df.Count)*100, "%")

top 10 sequences with the most number of A
0       AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
650     CAAAAAAAAAAAAACAAAAAACAAAAAAACA
2507    AAATAACAAAAAATTAAAAAAAAAAAAAAAA
3678    AAAACAAAAACAAAACAAACAAACAAAAAAG
168     AAAAAAGATTAAAAAATTAAAAAAAAAAGAA
2321    AATAACAGAAAGAAAACAAAAAGAAAAATAA
3880    AAAGAAAGAAAAAGAAAAAAAAAATAGCACA
2636    AAAATTAAAAAAAAAAAAAAAAAATTAGCCG
3491    AAAAGAAGACAAAAGAAAAGAGAAAGAAGAA
3186    ATAAATAAAAAGGAAAAGAAAAGAAAAGAAG
Name: Seq, dtype: object

total number of read of the top 10 sequences with the most number of A
113578

% of transcriptome
30.478628625405207 %

### 3) How many sequences with 25 or more As? Then, check that the result is correct.
(Cond. row selection)

In [92]:
#create the condition for sorting
AAbove25 = df.CountA >= 25

len(df.loc[AAbove25])

5

### 4) Clean up the dataframe (or re-load), add counts for all 4 nucl

In [100]:
#reload df
df = pandas.read_table("kmers.tsv")

#add count for all 4 nucl
def row_count_nucl(nucl):
    def tmp(row):
        return count_nucl(row.Seq, nucl)
    return tmp

df["CountA"] =df.apply(row_count_nucl("A"), axis=1)
df["CountT"] =df.apply(row_count_nucl("T"), axis=1)
df["CountC"] =df.apply(row_count_nucl("C"), axis=1)
df["CountG"] =df.apply(row_count_nucl("G"), axis=1)

df

,Seq,Id,Count,CountA,CountT,CountC,CountG
0,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,1,113422,31,0,0,0
1,CAGGACTCCAATATAGAGATAAGTTAATGTC,2,93,12,8,5,6
2,TATGTAATTGGTTCCAGTGTGAGTCATTAAA,3,5,9,12,3,7
3,GATATTTTCGAAAAGTGGGATTTTTTAAACC,4,88,10,12,3,6
4,CTCCATCTCAGGTATTAGAATGAATGCTTAC,5,7,9,10,7,5
...,...,...,...,...,...,...,...
3995,AGCTGCAGGAACTCCCTCGTCACAGCTTAAA,3996,5,9,6,10,6
3996,CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA,3997,5,6,8,7,10
3997,GTCTGCCTTTATGGCCTTTGTACTCAAAGAA,3998,10,7,11,7,6
3998,AGACTATAGTGAGCTCAGGTGATTGATACTC,3999,7,9,9,5,8
3999,AAACCCAGTCACTGGACACCTAAGTGTCCAC,4000,11,10,5,11,5

(Whiz kid corner: a function returning a function)

### 5) Add a %GC column

In [107]:
df["%GC"] = (df.CountG + df.CountC)/(df.CountA+df.CountT+df.CountG+df.CountC)*100
df

,Seq,Id,Count,CountA,CountT,CountC,CountG,%GC
0,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,1,113422,31,0,0,0,0.000000
1,CAGGACTCCAATATAGAGATAAGTTAATGTC,2,93,12,8,5,6,35.483871
2,TATGTAATTGGTTCCAGTGTGAGTCATTAAA,3,5,9,12,3,7,32.258065
3,GATATTTTCGAAAAGTGGGATTTTTTAAACC,4,88,10,12,3,6,29.032258
4,CTCCATCTCAGGTATTAGAATGAATGCTTAC,5,7,9,10,7,5,38.709677
...,...,...,...,...,...,...,...,...
3995,AGCTGCAGGAACTCCCTCGTCACAGCTTAAA,3996,5,9,6,10,6,51.612903
3996,CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA,3997,5,6,8,7,10,54.838710
3997,GTCTGCCTTTATGGCCTTTGTACTCAAAGAA,3998,10,7,11,7,6,41.935484
3998,AGACTATAGTGAGCTCAGGTGATTGATACTC,3999,7,9,9,5,8,41.935484
3999,AAACCCAGTCACTGGACACCTAAGTGTCCAC,4000,11,10,5,11,5,51.612903

### 6) And find the 10 sequences with highest GC content. How many reads do they represent?
(as a bonus, store this result in a new dataframe with only columns: Seq, Id, Count and %GC. You might need a few extra "tricks" with .loc[:,["Col1", "Col2"])

In [143]:
df6 = df.sort_values(by="%GC", ascending=False).head(n=10).loc[:,("Seq", "Id", "Count", "%GC")]
print(df6)

print()
print("total number of read of the top 10 sequences with the most %GC")
sum(df6.Count)

                                  Seq    Id  Count        %GC
1735  CTGCCCGCGCCCGCCGCCCAGGACCCCGCAC  1736      6  87.096774
1508  ACGCACCCCTCCCCGGCCTGGGCGGCGGCGA  1509     72  83.870968
963   CCGCGCCGCCCGGGCACCATGGCGGGGAAGG   964      7  83.870968
233   ACCCGGCGCCCGGCCAGTCCTGCGCGTCCCC   234     38  83.870968
3390  GCACGGGCGAAGGGGCCGCGGCCGCATGCCC  3391     64  83.870968
1222  CTGCGGGGGGCCTGCGGAGACGGCGCCCGCA  1223      5  83.870968
1751  CGGCGGTTGGCGGGGCACCACGGGAGGGGCC  1752     19  83.870968
3021  GGGTCCGGCGCCGCCGGCTGCGGCTTCGCGA  3022     21  83.870968
1899  AGGACTGGGGGGAGGCGGGCACCCCAGCGGG  1900     42  80.645161
2320  GCAGGTCGCCCTGGGGTGCCCGCGCGTGGGA  2321      9  80.645161

total number of read of the top 10 sequences with the most %GC

283

### 7) How many sequences with ≥ 50%GC (1453)? What is the %GC of all the sequences joined together (44.8%)? How many sequence have %GC above this average value (2104)?

In [160]:
print()
print("How many sequences with ≥ 50%GC?")

def limitpercent(XX):
    return df["%GC"] >= XX

print(len(df.loc[limitpercent(50)]))

print()
print("What is the %GC of all the sequences joined together?")

avgGC = sum(df.CountC+df.CountG)/sum(df.CountA+df.CountT+df.CountG+df.CountC)*100
print(avgGC, "%")

print()
print("How many sequences have%GC above this value?")
print(len(df.loc[limitpercent(avgGC)]))

How many sequences with ≥ 50%GC?
1453

What is the %GC of all the sequences joined together?
44.836290322580645 %

How many sequences have%GC above this value?
2104

### (*Challenge!*): Which sequence would form the longest helix linking the 5' and 3' extremities (no overhang)?
(Answer: ATGAATTGAGTTGTGTCCCCCCAAAATTCAT, 7 base pairs, line number 2827)
(Working with GPT-4: https://chatgpt.com/share/4687f755-e276-4d69-94c3-68be6dc5b584  Search for "Can you write a function that...")

In [245]:
#créer un fonction pour tester la complémentatité de deux nucléotides
def compl(c1, c2):
    #test, can be removed:
    #print("is", c1, "complementary to", c2)
    if c1 =="A" and c2 == "T":
        return True
    if c1 =="T" and c2 == "A":
        return True
    if c1 =="C" and c2 == "G":
        return True
    if c1 =="G" and c2 == "C":
        return True
    else:
        return False

In [210]:
#tester compl
print(compl("A", "A"))
print(compl("A", "C"))
print(compl("A", "G"))
print(compl("A", "T"))
print(compl("T", "A"))
print(compl("T", "C"))
print(compl("T", "G"))
print(compl("T", "T"))
print(compl("C", "A"))
print(compl("C", "C"))
print(compl("C", "G"))
print(compl("C", "T"))
print(compl("G", "A"))
print(compl("G", "C"))
print(compl("G", "G"))
print(compl("G", "T"))

is A complementary to A
False
is A complementary to C
False
is A complementary to G
False
is A complementary to T
True
is T complementary to A
True
is T complementary to C
False
is T complementary to G
False
is T complementary to T
False
is C complementary to A
False
is C complementary to C
False
is C complementary to G
True
is C complementary to T
False
is G complementary to A
False
is G complementary to C
True
is G complementary to G
False
is G complementary to T
False

In [211]:
def nucpos(seq, pos):
    pos1=0
    for c in seq:
        if pos1 == pos:
            return c
        else:
            pos1=pos1+1

In [224]:
#test
seqtest1="ATAT"
seqtest2="CGTG"

print(nucpos(seqtest1, 2))
len(seqtest1)

A

4

In [232]:
#déterminer nucl "opposé"
def nucopp(seq, pos):
    pos1=len(seq)-pos-1
    pos2=0
    for c in seq:
        if pos1 == pos2:
            return c
        else:
            pos2=pos2+1

In [233]:
#test
seqtest1="ATAT"
seqtest2="CCTG"

nucopp(seqtest1, 0)

'T'

In [219]:
def testcomppos(seq, pos):
    return compl(nucpos(seq, pos), nucopp(seq, pos))

In [234]:
#test
testcomppos(seqtest1, 2)

is A complementary to T

True

In [277]:
#scan a sequence to check if it is palindromic
def scanseqcomp(seq):
    pos=0
    for c in seq:
        if testcomppos(seq, pos) == True:
            #test to check if complementarity at the opposite end is true
            #print(pos)
            pos=pos+1
            if pos == len(seq):
                return pos
        else:
            return pos
            break

In [292]:
scanseqcomp("GGGGACTGCGGAGGCCAGCAGTGAACACCCC")

4

In [314]:
row=0
maxpallen=0
maxpalrow=0
for seq in df.Seq:
    if scanseqcomp(seq) >= maxpallen:
        maxpallen = scanseqcomp(seq)
        maxpalrow=row
        #test:
        #print(maxpalrow, maxpallen)
    row=row+1
print(maxpalrow)
print(maxpallen)
print(df.loc[maxpalrow])

2827
7
Seq       ATGAATTGAGTTGTGTCCCCCCAAAATTCAT
Id                                   2828
Count                                  12
CountA                                  9
CountT                                 10
CountC                                  7
CountG                                  5
%GC                             38.709677
Name: 2827, dtype: object

In [313]:
8 << 1

16